body.welcome-page {
    background: inherit;
    overflow: auto;
}

$dark: #222222;

.welcome {
    // background-image: $welcomePageBackground;
    display: flex;
    flex-direction: column;
    letter-spacing: .02em;
    line-height: 1.6;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    .spacer {
      max-width: 4rem;
      border-bottom: 1px solid $dark;
      width: 100%;
      margin: 1rem auto;;
    }
    .header {
        background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding: 2rem;

        .zevv-logo {
          margin-top: 4rem;
          height: 2rem;
          width: 3rem;
          border: 2px solid #222222;
          padding-top: 0.1rem;
          opacity: 0.3;
          svg {
            fill:  #222222;
          }
        }


        .logo {

          height: 7rem;
          width: 14rem;
          vertical-align: middle;
          padding-bottom: 3rem;
          padding-top: 1rem;
          svg {
            fill:  #222222;
          }

        }

        .header-text {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 650px;
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 1rem;
            z-index: $zindex2;
        }

        .header-text-title {
            color: $dark;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            opacity: $welcomePageHeaderTextTitleOpacity;
        }

        .header-text-description {
            display: $welcomePageHeaderTextDescriptionDisplay;
            color: $dark;
            font-size: 16px;
            font-weight: $welcomePageHeaderTextDescriptionFontWeight;
            margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
            align-self: $welcomePageHeaderTextDescriptionAlignSelf;
            text-align: left;
            max-width: 650px;
            width: 100%;
            z-index: 2;
            margin: 0 auto;
        }
        .header-text-description-inner {
          padding: 0.5rem;

        }


        .date-creation-wrap {
          max-width: 650px;
          width: 100%;
          z-index: 2;
          margin: 0 auto;
          padding-bottom: 2rem;
          input {
            font-size: 16px;
            color: $dark;
          }
          .guest-section {
            margin-top: 1rem;
            font-size: 20px;
            font-weight: bold;
            color: $dark;
          }
          .guest-buttons {
            text-align: right;
            padding: 0.5rem;
            button {
              margin-left: auto;
              margin-right: 0;
              opacity: 0.5;
              border: 1px solid $dark;
              outline: none;
              background: transparent;
              color: $dark;
              padding: 0.25rem 1rem;
            }
          }
          // border: 2px solid $black;
          .date-creation-title {
            display: $welcomePageEnterRoomTitleDisplay;
            font-size: 20px;
            font-weight: bold;
            padding: 0.5rem;
            color: $dark;
            text-align: center;
          }
          .date-creation-subtitle {
            display: $welcomePageEnterRoomTitleDisplay;
            font-size: 16px;
            padding: 0 0.5rem 0.5rem;
            color: $dark;
            text-align: center;
          }
          .date-creation-row {
            padding: 0rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            @media screen and (min-width: 760px) {
              flex-direction: row;

            }
            label {
              color: $dark;
              font-size: 12px;

            }
            .date-creation-row-child {
              flex: 1 0 auto;
              padding: 0 0.5rem 0.5rem;
              width: 100%;
              text-align: left;

              @media screen and (min-width: 760px) {
                width: auto;
              }

            }

            .date-creation-submit-button {
              padding: 0.5rem 1rem;
              height: auto;
              line-height: 2;
              border-radius: 3px;
              border: none;
              color: #FFFFFF;
              background: $dark;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
              font-weight: bold;
              span {
                color: #ffffff;
              }
            }
          }
        }

        #enter_room {
            display: flex;
            align-items: center;
            margin: 0 auto;
            max-width: 650px;
            width: 100%;
            z-index: $zindex2;
            padding: 0.5rem;

            // padding: $welcomePageEnterRoomPadding;
            border-radius: $welcomePageEnterRoomBorderRadius;
            // border: 2px solid $black;
            padding-bottom: 4rem;
            .enter-room-input-container {
                width: 100%;
                padding: $welcomePageEnterRoomInputContainerPadding;
                text-align: left;
                color: $dark;
                height: fit-content;
                border-width: $welcomePageEnterRoomInputContainerBorderWidth;
                border-style: $welcomePageEnterRoomInputContainerBorderStyle;
                // border-image: $welcomePageEnterRoomInputContainerBorderImage;

                .enter-room-subtitle {
                  margin-bottom: 0.5rem;
                }
                .enter-room-title {
                    display: $welcomePageEnterRoomTitleDisplay;
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                }


                .enter-room-input {
                    border: none;
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    padding: 0.5rem 0;
                }

                ::placeholder {
                    color: #253858;
                }
            }

        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            min-height: 354px;
            width: 100%;
            max-width: 600px;
            // background: #75A7E7;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;

            .tab-content{
                display: $welcomePageTabContentDisplay;
                margin: 5px 0px;
                overflow: hidden;
                flex-grow: 1;
                position: relative;

                > * {
                    position: absolute;
                }
            }

            .tab-buttons {
                font-size: 18px;
                color: #FFFFFF;
                display: $welcomePageTabButtonsDisplay;
                flex-grow: 0;
                flex-direction: row;
                min-height: 54px;
                width: 100%;

                .tab {
                    display: $welcomePageTabDisplay;
                    text-align: center;
                    background: rgba(9,30,66,0.37);
                    height: 55px;
                    line-height: 54px;
                    flex-grow: 1;
                    cursor: pointer;

                    &.selected, &:hover {
                        background: rgba(200,200,206,0.71);
                    }

                    &:last-child {
                        margin-left: 1px;
                    }
                }
            }
        }
    }

    .welcome-page-button {

        min-width: $welcomePageButtonMinWidth;
        height: $welcomePageButtonHeight;
        font-weight: bold;
        // background: linear-gradient(35deg, , #ff6700);
        background: $dark;
        // border: 2px solid #06048c;

        padding: 0.25rem 1rem;
        border-radius: 3px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        white-space: nowrap;

    }

    .welcome-page-settings {
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .welcome-watermark {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .white-bg {
      position: fixed;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      background: #fdfdfa;
      border: 2px solid $dark;
    }
    .FAQ-wrap {
      color: $dark;
      max-width: 650px;
      width: 100%;
      z-index: 2;
      margin: 0 auto;
      font-size: 16px;
      margin-top: 24px;
      margin-bottom: 3rem;
      .FAQ-title {
        padding-bottom: 1rem;
        font-size: 20px;
        font-weight: bold;
      }
      .FAQ-section {
        border: none;
      }
      .FAQ-question {
        font-weight: bold;
        padding: 1rem 0;
        border-bottom: 1px solid $dark;
        text-align: left;

      }
      .FAQ-answer {
        padding: 1rem 0;
        text-align: left;
      }
    }


}

.ReactCollapse--collapse {
  transition: height 500ms;
}
