body.welcome-page {
    background: inherit;
    overflow: auto;
}

$dark: #253858;

.welcome {
    // background-image: $welcomePageBackground;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        overflow: hidden;
        position: relative;
        text-align: center;
        padding: 2rem;

        .header-text {
            display: flex;
            flex-direction: column;
            margin-top: 5rem;
            margin-bottom: 1rem;
            max-width: calc(100% - 40px);
            width: 650px;
            z-index: $zindex2;
        }

        .header-text-title {
            color: $dark;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            line-height: $welcomePageHeaderTextTitleLineHeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            opacity: $welcomePageHeaderTextTitleOpacity;
        }

        .header-text-description {
            display: $welcomePageHeaderTextDescriptionDisplay;
            color: $dark;
            font-size: 12px;
            font-weight: $welcomePageHeaderTextDescriptionFontWeight;
            line-height: $welcomePageHeaderTextDescriptionLineHeight;
            margin-bottom: $welcomePageHeaderTextDescriptionMarginBottom;
            align-self: $welcomePageHeaderTextDescriptionAlignSelf;
            text-align: left;
            max-width: calc(100% - 40px);
            width: 680px;
            z-index: 2;
            margin: 0 auto;


        }

        .date-creation-wrap {
          max-width: calc(100% - 40px);
          width: 680px;
          z-index: 2;
          margin: 0 auto;
          padding-bottom: 2rem;
          // border: 2px solid $black;
          .date-creation-title {
            display: $welcomePageEnterRoomTitleDisplay;
            font-size: 18px;
            font-weight: bold;
            padding: 0.5rem;
            color: $dark;
            text-align: left;
          }
          .date-creation-subtitle {
            display: $welcomePageEnterRoomTitleDisplay;
            font-size: 12px;
            padding: 0 0.5rem 0.5rem;
            color: $dark;
            text-align: left;
          }
          .date-creation-row {
            padding: 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @media screen and (min-width: 760px) {
              flex-direction: row;

            }
            label {
              color: $dark;
            }
            .date-creation-row-child {
              flex: 1 0 auto;
              padding: 0 0.5rem 0.5rem;
              width: 100%;
              text-align: left;

              @media screen and (min-width: 760px) {
                width: auto;
              }

            }
            .date-creation-submit-button {
              padding: 0.25rem 1rem;
              border-radius: 3px;
              border: none;
              color: #FFFFFF;
              background: $dark;
              text-align: center;
              vertical-align: middle;
              line-height: $welcomePageButtonLineHeight;
              cursor: pointer;
              font-weight: bold;
            }
          }
        }

        #enter_room {
            display: flex;
            align-items: center;
            max-width: calc(100% - 40px);
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: #fff;
            // padding: $welcomePageEnterRoomPadding;
            border-radius: $welcomePageEnterRoomBorderRadius;
            // border: 2px solid $black;
            padding-bottom: 4rem;
            .enter-room-input-container {
                width: 100%;
                padding: $welcomePageEnterRoomInputContainerPadding;
                text-align: left;
                color: #253858;
                height: fit-content;
                border-width: $welcomePageEnterRoomInputContainerBorderWidth;
                border-style: $welcomePageEnterRoomInputContainerBorderStyle;
                border-image: $welcomePageEnterRoomInputContainerBorderImage;
                .enter-room-subtitle {
                  margin-bottom: 0.5rem;
                }
                .enter-room-title {
                    display: $welcomePageEnterRoomTitleDisplay;
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                }

                .enter-room-input {
                    border: none;
                    display: inline-block;
                    width: 100%;
                    font-size: 16px;
                    padding: 0.5rem 0;
                }

                ::placeholder {
                    color: #253858;
                }
            }

        }

        .tab-container {
            font-size: 16px;
            position: relative;
            text-align: left;
            min-height: 354px;
            width: 100%;
            max-width: 600px;
            // background: #75A7E7;
            display: $welcomePageTabContainerDisplay;
            flex-direction: column;

            .tab-content{
                display: $welcomePageTabContentDisplay;
                margin: 5px 0px;
                overflow: hidden;
                flex-grow: 1;
                position: relative;

                > * {
                    position: absolute;
                }
            }

            .tab-buttons {
                font-size: 18px;
                color: #FFFFFF;
                display: $welcomePageTabButtonsDisplay;
                flex-grow: 0;
                flex-direction: row;
                min-height: 54px;
                width: 100%;

                .tab {
                    display: $welcomePageTabDisplay;
                    text-align: center;
                    background: rgba(9,30,66,0.37);
                    height: 55px;
                    line-height: 54px;
                    flex-grow: 1;
                    cursor: pointer;

                    &.selected, &:hover {
                        background: rgba(200,200,206,0.71);
                    }

                    &:last-child {
                        margin-left: 1px;
                    }
                }
            }
        }
    }

    .welcome-page-button {

        min-width: $welcomePageButtonMinWidth;
        height: $welcomePageButtonHeight;
        font-weight: bold;
        // background: linear-gradient(35deg, , #ff6700);
        background: $dark;
        // border: 2px solid #06048c;

        padding: 0.25rem 1rem;
        border-radius: 3px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        line-height: $welcomePageButtonLineHeight;
        cursor: pointer;
        white-space: nowrap;

    }

    .welcome-page-settings {
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    .welcome-watermark {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .white-bg {
      position: fixed;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      background: white;
    }
}
